.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
}
.allProduct{
    padding-left: 15px;
}
.productName{
    color: blue;
    font-weight: 600;
}
.btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}